<div class="paging-summary">Showing {{startIndex}} - {{endIndex}} of {{totalSize}} results</div>
<ul class="page-numbers">
    {{#each pageNumbers}}
    <li>
    {{#unless active}}{{number}}{{/unless}}
    {{#if active}}<a href="#">{{number}}</a>{{/if}}
    </li>
    {{/each}}
</ul>
